a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: "Poppins", serif;
  background-color: #fff;
  color: #22343d;
}
.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  align-items: center;
}
.header {
}

.nav {
  display: flex;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 267px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-link {
  line-height: 1.75;
  padding: 26px 0;
  display: block;
}
.current {
  font-weight: 600;
}
.header-list-btn {
  display: flex;
  margin-left: auto;
  gap: 21px;
}

.header-btn {
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
}
.header-btn-in {
  color: #173a56;
  background-color: transparent;
  border: 1px solid #bcd0e5;
  min-width: 105px;
  height: 42px;
}
.header-btn-up {
  color: #fff;
  background-color: #02897a;
  border: none;
  min-width: 113px;
  height: 42px;
}
/* hero */
.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}
.hero-text-wrap {
  width: 465px;
  margin-right: 35px;
}
.hero .container {
  display: flex;
  align-items: center;
}
.hero-title {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
  width: 420px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.55556;
  margin-bottom: 45px;
}

.hero-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-btn {
  font-size: 16px;
}
.hero-btn-start {
  font-weight: 700;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  border: none;
  min-width: 178px;
  height: 53px;
}
.hero-btn-start:hover,
.hero-btn-start:focus {
  background-color: #bcd0e5;
  color: #02897a;
}
.hero-btn-watch {
  font-weight: 600;
  text-decoration: underline;
  color: #02897a;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero-icon {
  fill: #02897a;
}
/* product */
.product {
  padding: 50px o;
}

.product-title {
  font-size: 32px;
  text-align: center;
  width: 535px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.product-icon-wrap {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background-color: #02897a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}
.product-icon {
  fill: #fff;
}
.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.product-item {
  width: calc((100% - 90px) / 4);
}

.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}
.product-icon-wrap-second {
  background-color: #4d8dff;
}
.product-icon-wrap-third {
  background-color: #740a76;
}
.product-icon-wrap-fourth {
  background-color: #f03e3d;
}
.product-text {
  line-height: 1.62;
}

.product-btn {
  background-color: #02897a;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  min-width: 175px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.product-btn:hover,
.product-btn:focus {
  background-color: #173a56;
}
/* management */
.management {
  padding: 50px 0;
}
.management-text-wrap {
  width: 486px;
  margin-right: 84px;
}
.management .container {
  display: flex;
  align-items: center;
}
.management-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.management-title-part {
  font-weight: 700;
  font-size: 32px;
}

.management-text {
  line-height: 1.625;
  margin-bottom: 30px;
}

.management-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.management-item {
}

.management-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
}

.management-desk {
  line-height: 1.625;
}
/* customers */
.customers {
  padding: 50px 0;
}

.customers-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}
.customers .container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.customers-title-part {
  font-weight: 700;
  font-size: 32px;
}
.customers-icon {
  fill: #fff;
}
.customers-text-wrap {
  width: 450px;
}
.customers-icon-wrap {
  border-radius: 14px;
  width: 35px;
  height: 35px;
  background: #f90;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.customers-icon-wrap-second {
  background: #f03e3d;
}
.customers-icon-wrap-third {
  background: #4d8dff;
}
.customers-text {
  line-height: 1.625;
  margin-bottom: 30px;
}

.customers-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.customers-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.customers-desc {
  line-height: 1.625;
}
/* optimisation */
.optimisation {
  padding-top: 50px;
  padding-bottom: 75px;
}
.optimisation .container {
  display: flex;
  align-items: center;
}
.optimisation-text-wrap {
  width: 486px;
  margin-right: 84px;
}
.optimisation-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.optimisation-title-part {
  font-weight: 700;
  font-size: 32px;
}

.optimisation-text {
  line-height: 1.625;
  margin-bottom: 30px;
}

.optimisation-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.optimisation-item {
}

.optimisation-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
}
.optimisation-desk {
  line-height: 1.625;
}

/* process */
.process {
  padding-top: 75px;
  padding-bottom: 50px;
}

.process-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.process-text {
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  width: 542px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.process .container {
  width: 916px;
}
.process-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 100px;
  margin-bottom: 50px;
}

.process-item {
  width: calc((100% - 100px) / 2);
  display: flex;
  gap: 20px;
  align-items: center;
}
.process-item-reverce {
  flex-direction: row-reverse;
}
.process-text-wrap {
  width: 281px;
  min-height: 50px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.process-desk {
  font-weight: 500;
  text-align: center;
  color: #2f281e;
}

.process-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: #02897a;
  border: none;
  min-width: 216px;
  height: 53px;
  margin: 0 auto;
  display: block;
}
.process-btn:hover,
.process-btn:focus {
  background-color: #173a56;
}
/* contents */
.contents {
  padding-top: 50px;
  padding-bottom: 85px;
}

.contents-title {
  font-size: 34px;
  margin-bottom: 40px;
}

.contents-text {
  font-weight: 500;
  line-height: 1.625;
}

.contents-list {
  display: flex;
  gap: 30px;
}

.contents-item {
  width: calc((100% - 60px) / 3);
}
.contents-text-wrap {
  border: 1px solid #dedede;
  border-radius: 0 0 8px 8px;
  border-top: none;
  padding: 24px 24px 40px 24px;
}
.contents-desk {
  line-height: 1.75;
  margin-bottom: 12px;
}

.contents-desk-part {
  font-weight: 700;
}

.contents-subtitle {
  font-size: 24px;
  line-height: 1.66667;
}
.contents-subtitle-current {
  color: #02897a;
}
.contents-item:hover > .contents-subtitle {
  color: #02897a;
}
/* price */
.price {
  padding-top: 85px;
  padding-bottom: 50px;
}

.price-title {
  font-size: 34px;
  margin-bottom: 10px;
  text-align: center;
}

.price-text {
  text-align: center;

  margin-bottom: 40px;
}

.price-list {
  display: flex;
  gap: 72px;
}

.price-item {
  width: 322px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 32px 0;
  text-align: center;
}
.price-text-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 16px;
}
.price-num-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.price-subtitle {
  font-size: 24px;
  margin-bottom: 8px;
}

.price-desk {
  font-family: "Montserrat", sans-serif;
  line-height: 2.5;
  margin-bottom: 16px;
}

.price-num {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  color: #02897a;
}

.price-currency {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}

.price-period {
  font-family: "Montserrat", sans-serif;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.price-service-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}

.price-service-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.01em;
}

.price-service-btn {
  background-color: #02897a;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
  width: 139px;
  height: 44px;
}
.price-item-second {
  color: #fff;
  background-color: #02897a;
}
.price-num-second {
  color: #fff;
}
.price-currency-second {
  color: #fff;
}
.price-service-btn-second {
  background-color: #fff;
  color: #02897a;
}
/* clients */
.clients {
  padding-top: 50px;
  padding-bottom: 100px;
}

.clients-title {
  font-size: 32px;
  line-height: 1.78125;
  letter-spacing: 0.01em;
  text-align: center;
}

.clients-text {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  width: 537px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.clients-list {
  display: flex;
  gap: 64px;
}

.clients-desk {
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-bottom: 16px;
}

.clients-subtitle {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.clients-item {
  width: calc((100% - 128px) / 3);
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px;
}
.clients-icon-list {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
}
.clients-icon {
  fill: #f3cd03;
}
.clients-wrap {
  display: flex;
  align-items: center;
  gap: 14px;
}
.clients-icon-last {
  fill: transparent;
  stroke: #f3cd03;
  stroke-width: 2px;
}
.clients-deskription {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
}
/* promo */
.promo {
  background-color: #02897a;
}

.promo-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  margin-bottom: 46px;
}
.promo-container {
  background-color: #02897a;
  width: 968px;
  min-height: 345px;
  border-radius: 32px;
  display: flex;
  padding-left: 51px;
  padding-right: 46px;
  padding-top: 4px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.promo-btn {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  width: 150px;
  height: 50px;
}
.promo-wrap {
  width: 510px;
  padding-top: 49px;
}
.footer-page {
}


.footer-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 25px;
 
}
.page-container{
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: start;
  
}
.page-f{
  margin-right: 146px;

}
.f-wrap{
  margin-right: 129px;
}
.f-wrap-menu{
  margin-right: 83px;
}
.social-list{
  display: flex;
  gap: 16px;
}

.social-link{
  width: 40px;
  height: 40px;
  background-color: #02897a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon{
  fill:#fff;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
}
.input-container {
  position: relative;
  display: inline-block;
 
}
.f-input{
  width: 325px;
height: 48px;
margin-top: 30px;
padding-left: 30px; 
  font-size: 16px;

}


.f-input-icon{
  background-color: #02897a;
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 13px;
  width: 18px;
  height: 24px;
 
  
}
.form-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
::placeholder{
  font-weight: 400;
font-size: 16px;
padding-left: 12px;
line-height: 1.75;
color: #02897a;
}
.footer-link {
  line-height: 2.19;
  color: #22343d;
}

.footer-list {
  margin-top: 8px;
}
.footer-btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #02897a;
  border: none;
  width: 131px;
height: 39px;
margin-top: 25px;

}

.footer-deskription {
  line-height: 1.875;
  color: #22343d;
  text-align: center;
  font-weight: 400;
font-size: 16px;
color: #22343d;

}


.clients {
  padding: 100px 0;

}

.clients-list {
}
.clients-item {
  padding: 16px 64px;
}
.clients-title{
  margin-bottom: 50px;
font-size: 40px;
color: #22343d;
text-align: center;
}
.produc {
  width: 1400px;
height: 498px;
padding: 117px 0;

}

.product-ifo{
  border: 1px solid #dedede;
border-radius: 10px;
padding: 40px 50px;
width: 350px;
height: 305px;
}
.produc-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
  margin-bottom: 50px;
}
.produc-list {
display: flex;
gap: 30px;
}
.produc-item {

}
.produc-subtitle {
  font-size: 24px;
  line-height: 1.37;
  letter-spacing: 0em;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}
.produc-text {
  line-height: 1.69;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
}
.work {
}
.work-title {
  font-size: 34px;
  text-align: center;
  color: #22343d;
}
.work-list {
}
.work-item {
}
.work-subtitle {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
}
.work-accent {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #22343d;
}
.work-text {
  line-height: 1.75;
  color: #22343d;
}
.work-btn {
  background: #02897a;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.banner {
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}
.banner-title {
  font-size: 32px;
  text-align: center;
  color: #22343d;
}
.banner-list {
}
.anner-item {
}
.banner-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #000;
}
.banner-text {
  font-size: 18px;
  line-height: 1.77778;
  text-align: center;
  color: #22343d;
}
.banner-desk {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
}
.enterprice {
  background-color: linear-gradient(
    180deg,
    #f6f6f6 0%,
    rgba(246, 246, 246, 0) 100%
  );
}

.enterprice-text {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
}
.enterprice-title {
  font-size: 34px;
  color: #22343d;
}
.enterprice-deck {
  font-size: 18px;
  color: #22343d;
}
.enterprice-btn {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #02897a;
}
.menu {
}
.menu-title {
  font-size: 34px;
  color: #22343d;
}
.menu-subtitle {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
}
.menu-text {
  line-height: 1.75;
  color: #22343d;
}
.question {
}
.question-title {
  font-size: 34px;
  color: #22343d;
}
.question-text {
  font-size: 18px;
  color: #22343d;
}
.question-deck {
  font-weight: 500;
  font-size: 18px;
  color: #22343d;
}
.question-coment {
  font-weight: 500;
  font-size: 18px;
  color: #22343d;
}
.question-answer {
  font-size: 16px;
  color: #22343d;
}
